
@import '../../../global.scss';
@import '../../../../styles/responsive.scss';

$info-sections-vertical-padding: 20px;
$info-container-padding: 30px;

.scenic-project-page {
  display: flex;
  flex-direction: column;

  .title-section {
    display: flex;

    .title-info {
      flex: 4 0;
    }
    .title-image-section {
      flex: 6 1;
    }

    .title-info {
      padding: $info-container-padding;
      .project-title {
        font-size: $font-xlg;
        text-transform: uppercase;
        font-weight: 700;
      }
      .project-playwrights-container {
        padding-top: $info-sections-vertical-padding;
        .project-playwright {
          font-size: $font-sm;
          &:not(:first-child) {
            padding-top: 5px;
          }
        }
      }
      .project-venue-producer {
        padding-top: $info-sections-vertical-padding;
        font-size: $font-sm;
      }
      .project-date {
        padding-top: $info-sections-vertical-padding;
        text-transform: uppercase;
        font-size: $font-lg;
      }
      .project-description-container {
        padding-top: $info-sections-vertical-padding;
        .project-description {
          font-size: $font-xs;
          &:not(:first-child) {
            padding-top: 18px;
          }
        }
      }
    }
    .title-image-section {
      min-height: 50vh;
    }
  }

  @include screenSizeMedium {
    .title-section {
      .title-image-section {
        min-height: 40vh;
      }
    }
  }
  @include screenSizeSmall {
    .title-section {
      flex-direction: column-reverse;
      .title-image-section {
        min-height: 30vh;
      }
    }
  }

  .gallery-heading-section {
    display: flex;
    .title-image-section {
      flex: 12 1;
    }
    .gallery-heading-info {
      flex: 9 0;
    }
    .gallery-heading-info {
      display: flex;
      flex-direction: column;
      padding: $info-container-padding;
      .production-credits-container {
        .production-credit {
          // font-weight: 300;
          font-size: $font-sm;
          &:not(:first-child) {
            padding-top: 5px;
          }
        }
      }
      .media-and-press-container {
        padding-top: 30px;
        .media-and-press-item {
          .media-and-press-description,
          .media-and-press-link,
          .media-and-press-publication {
            display: inline;
          }

          .media-and-press-description {
            padding-right: 5px;
          }

          .media-and-press-link {
            padding-right: 5px;
          }

          &:not(:first-child) {
            padding-top: 20px;
          }
        }
      }
    }
    .title-image-section {
      min-height: 50vh;
    }
  }

  @include screenSizeMedium {
    .gallery-heading-section {
      .title-image-section {
        min-height: 40vh;
      }
    }
  }
  @include screenSizeSmall {
    .gallery-heading-section {
      flex-direction: column;
      .title-image-section {
        min-height: 30vh;
      }
    }
  }

  .title-image-section {
    min-width: 0;
    display: flex;
    flex-direction: column;
    .title-image-container {
      display: flex;
      flex-basis: 0px;
      flex-grow: 1;
      overflow-y: hidden;
      overflow-x: hidden;
      img {
        min-width: 100%;
        object-fit: cover;
      }
    }
  }

  .gallery-images-section {
    display: flex;
    flex-wrap: wrap;

    .gallery-image-container {
      min-width: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 25vw;

      position: relative;
      text-align: center;
      overflow: hidden;

      &:nth-child(2n) {
        width: 30vw;
      }
      &:nth-child(3n) {
        width: 20vw;
      }
      &:nth-child(4n) {
        width: 25vw;
      }
      &:nth-child(6n) {
        width: 40vw;
      }

      .gallery-image {
        flex-grow: 1;
        flex-basis: 20vh;
        max-height: 35vh;
        display: flex;
        height: 100%;
        img {
          min-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .lightbox-image-wrapper {
    cursor: pointer;
    &:hover {
      // transform: perspective(100px) translateZ(10px);
      img {
        transform: scale(1.15, 1.15);
      }
    }
    img {
      transition: transform 0.4s ease;
      transform: scale(1.01, 1.01);
      backface-visibility: hidden;
    }
  }

  @include screenSizePhone {
    .gallery-images-section {
      .gallery-image-container {
        &:nth-child(1n) {
          width: 100%;
        }
      }
    }
  }

}
