
@use '../../../../../styles/responsive.scss';

.jcd-project-row {

  .jcd-project-row-items-container {
    width: 100%;
    display: flex;
    min-height: 13.8vh;
    max-height: 42vh;
  }
  .jcd-project-row-item {
    overflow: hidden;
    // padding: 1px;
    // height: calc(100vh / 3);
    // height: calc(100vh / 3);
  }

  @include responsive.screenSizePhone {
    .jcd-project-row-content {
      .jcd-project-row-items-container {
        flex-direction: column;
        max-height: none;
        .jcd-project-row-item {
          max-height: 40vh;
          &:nth-child(1n) {
            flex: 1 1;
          }
        }
      }
    }
  }

  .project-row-pattern-1 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 9 1;
      }
      &:nth-child(2) {
        flex: 7 1;
      }
    }
  }
  .project-row-pattern-2 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 7 1;
      }
      &:nth-child(2) {
        flex: 11 1;
      }
    }
  }
  .project-row-pattern-3 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 6 1;
      }
      &:nth-child(2) {
        flex: 8 1;
      }
      &:nth-child(3) {
        flex: 7 1;
      }
    }
  }
  .project-row-pattern-4 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 9 1;
      }
      &:nth-child(2) {
        flex: 6 1;
      }
    }
  }
  .project-row-pattern-5 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 7 1;
      }
      &:nth-child(2) {
        flex: 8 1;
      }
    }
  }
  .project-row-pattern-6 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 16 1;
      }
      &:nth-child(2) {
        flex: 15 1;
      }
      &:nth-child(3) {
        flex: 15 1;
      }
    }
  }
  .project-row-pattern-7 {
    .jcd-project-row-item {
      &:nth-child(1) {
        flex: 11 1;
      }
      &:nth-child(2) {
        flex: 17 1;
      }
    }
  }
}
