
$top-nav-height: 64px;

.app-main {
  .header-text {
    font-size: 24px;
  }
  .text-content {
    background-color: rgba(152, 253, 0, 0.5);
  }
  .top-nav-container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    width: 100%;
    bottom: $top-nav-height;
    min-height: $top-nav-height;
    max-height: $top-nav-height;
    background-color: chartreuse;
    z-index: 1;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  }
  .app-content-container {
    padding-top: $top-nav-height;
  }
}
