
@use 'global.scss';

.app-main {
  .header-text {
    font-size: 24px;
  }
  .top-nav-container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    width: 100%;
    bottom: global.$top-nav-height;
    min-height: global.$top-nav-height;
    max-height: global.$top-nav-height;
    background-color: global.$jcd-background-color-primary;
    z-index: 1;
    // box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  }
  .app-content-container {
    padding-top: global.$top-nav-height + 0px;
  }
  .footer-container {
    min-height: global.$footer-height;
  }
}

.jcd-drawer-nav {
  width: 30vw;
  padding: 10px 10px;
  height: 100%;
  background-color: global.$jcd-background-color-primary;
  color: global.$jcd-font-color-primary;
  .drawer-nav-list-item {
    display: flex;
    a.drawer-nav-link {
      padding: 5px 0;
      flex: 1 1;
      color: inherit;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      font-size: global.$font-mmd;
      &:hover {
        color: global.$highlight-font-color;
      }
    }
  }
}
