$font-xxxxs: 10px;
$font-xxxs: 12px;
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 18px;
// $font-xsm: 24px;
$font-md: 20px;
$font-mmd: 22px;
$font-mmmd: 24px;
$font-mmmmd: 28px;
$font-lg: 32px;
$font-xlg: 46px;
$font-xxlg: 64px;

$jcd-background-color-primary: #FFFCF2;
$jcd-background-color-secondary: #222222;
$jcd-font-color-primary: #222222;
$jcd-font-color-secondary: #FFFCF2;
$highlight-font-color: #EB5E28;

$top-nav-height: 64px;
$footer-height: $top-nav-height + 20px;