$font-xxxs: 12px;
$font-xxs: 14px;
$font-xs: 16px;
$font-sm: 18px;
// $font-xsm: 24px;
$font-md: 20px;
$font-mmd: 22px;
$font-mmmd: 24px;
$font-mmmmd: 28px;
$font-lg: 32px;
$font-xlg: 46px;
$font-xxlg: 64px;

$highlight-font-color: #EB5E28;
