
@use '../../global.scss';
@use '../../../styles/responsive.scss';

.jcd-footer {
  display: flex;
  width: 100%;
  height: global.$footer-height;
  .jcd-footer-item {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &.footer-left {
      justify-content: flex-start;
      padding-left: 30px;
    }
    &.footer-middle {
      padding-right: 30px;
    }
    &.footer-right {
      justify-content: flex-end;
      padding-right: 30px;
    }

    .footer-item-content {
      // padding: 0 30px;
      font-size: global.$font-md;
      font-weight: 700;
      text-transform: uppercase;
      .breakable-footer-item {
        display: flex;
      }
    }
  }
  a.email-link {
    color: inherit;
    &:hover {
      color: global.$highlight-font-color;
    }
  }
  @include responsive.screenSizeMedium {
    .jcd-footer-item
    .footer-item-content {
      // font-size: $font-sm;
    }
  }
  @include responsive.screenSizeSmall {
    .jcd-footer-item {
      &.footer-left {
        padding-left: 15px;
      }
      &.footer-middle {
        padding-right: 20px;
      }
      &.footer-right {
        padding-right: 15px;
      }
      .footer-item-content {
        font-size: global.$font-xs;
        .breakable-footer-item {
          flex-wrap: wrap;
        }
      }
    }
  }
  @include responsive.screenSizePhone {
    .jcd-footer-item {
      &.footer-left {
        padding-left: 8px;
        padding-right: 6px;
      }
      &.footer-middle {
        padding-right: 12px;
      }
      &.footer-right {
        padding-right: 8px;
      }
      .footer-item-content {
        font-size: global.$font-xxxxs;
        .breakable-footer-item {
          flex-wrap: wrap;
        }
      }
    }
  }
}