
@import '../../../global.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/responsive.scss';

$gallery-title-font-size: $font-xlg;
$gallery-title-font-size-small: $font-lg;

.scenery-gallery-page {
  display: flex;
  flex-direction: column;
  .gallery-header-content {
    height: 40vh;
    display: flex;
    // padding-bottom: 10px;

    @include screenSizeSmall {
      height: 30vh;
    }

    .gallery-header-project-info {
      align-self: center;
      flex: 1 1;

      .gallery-title-container {
        display: flex;
        .gallery-title {
          background-color: rgba(255, 255, 255, 1);
          text-transform: uppercase;
          line-height: $gallery-title-font-size - ($gallery-title-font-size * 0.12);
          font-size: $gallery-title-font-size;          
          @include screenSizeSmall {
            line-height: $gallery-title-font-size-small - ($gallery-title-font-size-small * 0.12);
            font-size: $gallery-title-font-size-small;
          }

        }
      }
    }
    .gallery-content-image-wrapper {
      flex: 2 1;
    }
  }

  .gallery-detail-container {
    display: flex;
    // padding-bottom: 10px;
    .gallery-content-image-wrapper,
    .gallery-detail-content {
      display: flex;
      flex-direction: column;
    }
    .gallery-content-image-wrapper {
      flex: 2 1;

      @include screenSizeSmall {
        max-width: 50vw;
      }
      .gallery-image-container {
        flex-basis: 0px;
        flex-grow: 1;
        overflow-y: auto;
      }
    }
    .gallery-detail-content {
      flex: 1 1;
      padding: 5px 5px;
      min-height: 40vh;
      @include screenSizeSmall {
        font-size: 15px;
      }
    }
  }

  .gallery-content-image-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 60vw;

    .gallery-image-container {
      @include image-preview-container();
      height: 100%;
      width: 100%;
    }
  }

  .gallery-preview-images {
    max-width: 100%;
  }
}
