
@import './fonts/index.scss';
@import './app/global.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: $jcd-font-color-primary;
  background-color: $jcd-background-color-primary;
}
html body {
  margin: 0;
}
