
@use 'fonts/index.scss';
@use 'app/global.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: global.$jcd-font-color-primary;
  background-color: global.$jcd-background-color-primary;
}
html body {
  margin: 0;
}
