
@import '../../../../../styles/mixins.scss';

// $thumbnail-height: 300px;
// $thumbnail-height: 300px;
$thumbnail-height: 270px;
$thumbnail-width: 30vw;

.image-gallery {
  // display: inline-flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;

  grid-gap: 0px;
  max-width: 100%;

  .image-preview {
    // height: fit-content;
    @include image-preview-container();
    display: flex;
  }
}
